<div class="container-fluid footer">
  <div class="container">
    <img class="detik-yamaha" src="assets/img/detikcom-yamaha.png">
    <div class="footer_2column">
      <div>
        <p>d’Challenge Tebak Podium adalah program yang diselenggarakan oleh detikcom dan Yamaha Indonesia Motor dalam
        menyemarakkan ajang balap motor paling seru buat para pecinta Moto GP. Melalui program ini para detikers bisa
        ikutan Tebak Podium berhadiah Motor Sport dengan mengumpulkan poin sebanyak mungkin.</p>
      </div>
      <div class="socmed">
        <a href="https://twitter.com/detikcom" target="_blank">
          <img src="assets/img/twitter.svg">
        </a>
        <a href="https://www.instagram.com/detikcom/" target="_blank">
          <img src="assets/img/instagram.svg">
        </a>
        <a href="https://www.facebook.com/detikcom" target="_blank">
          <img src="assets/img/facebook.svg">
        </a>
      </div>
    </div>
    <div class="copyright">
      © 2022 detikcom. All rights reserved
    </div>
  </div>
</div>