<div class="container intro hadiahkeren">
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <h1>MENANGIN HADIAH KEREN</h1>
      <p>Di setiap seri akan ada 3 detikers dengan poin tertinggi yang akan mendapatkan hadiah keren berikut</p>
      <img src="assets/img/landingpage/prizes.png" class="img-fluid">
      <a href="index-new.php?page=leaderboard" class="mekanisme">
        LIHAT DAFTAR PEMENANG
        <i class="fas fa-long-arrow-right"></i>
      </a>
    </div>
    <div class="col-lg-6 col-sm-12"></div>
  </div>
  <div class="image-intro"><img src="assets/img/landingpage/grandprize.png" class="img-fluid"></div>
</div>