<div class="container intro">
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <img src="assets/img/logo-yamaha-2022.png" class="logo-yamahagp-intro img-fluid">
      <h1>TEBAK PERINGKAT RIDER MOTOGP</h1>
      <p>Kumpulkan poin sebanyak-banyaknya dengan mengikuti keseruan d’Challenge Tebak Podium. Semakin
        banyak poin yang kamu kumpulkan, semakin besar juga kesempatan kamu memenangkan Motor Sport
        dari Yamaha!</p>
      <a class="btn-ikuti-quiz btn btn-primary js-scroll-trigger" href="quiz-alt.php">
        IKUTAN SEKARANG <i class="fas fa-arrow-right"></i>
      </a>
      <a class="btn-live-streaming btn btn-primary js-scroll-trigger" href="https://www.detik.com/tag/motogp-2021">
        <img src="assets/img/landingpage/svg/play.svg" class="img-fluid"> LIVE STREAMING
      </a>
    </div>
    <div class="col-lg-6 col-sm-12"></div>
  </div>
  <div class="image-intro"><img src="assets/img/landingpage/intro.png" class="img-fluid"></div>
</div>