<div class="container leaderboard">

  <div class="alert alert-danger alert-dismissible text-center" role="alert">
    Dear detikers! segera pindahkan akun detik ID Anda ke MPC agar dapat mengikuti quiz tebak podium selanjutnya.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  
  <h1>KLASEMEN SEMENTARA<br>QUIZ TEBAK PODIUM</h1>
  <ol type="1">
    <!-- class="active" => warna biru tua -->
    <li>Hanan Azigha</li>
    <li>Hanan Azigha</li>
    <li>Hanan Azigha</li>
    <li>Hanan Azigha</li>
    <li>Hanan Azigha</li>
    <li>Hanan Azigha</li>
    <li>Hanan Azigha</li>
    <li>Hanan Azigha</li>
    <li>Hanan Azigha</li>
    <li>Hanan Azigha</li>
    <li>Hanan Azigha</li>
    <li>Hanan Azigha</li>
    <li>Hanan Azigha</li>
    <li>Hanan Azigha</li>
    <li>Hanan Azigha</li>
    <li>Hanan Azigha</li>
    <li>Hanan Azigha</li>
    <li>Hanan Azigha</li>
    <li>Hanan Azigha</li>
    <li>Hanan Azigha</li>
  </ol>
  <h2>DAFTAR PEMENANG<br>TEBAK PODIUM PER RACE</h2>

  <!-- AUTOPLAY | data-bs-ride="carousel"> -->
  <!-- NO FIRST LOADING AUTOPLAY | data-bs-ride="false"> -->
  <!-- REMOVE data-bs-ride to prevent autoplay from all actions -->
  <div id="carouselControls" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="schedule">
          <ul>
            <li class="left">
              <ul>
                <li>01</li>
                <li>APR</li>
              </ul>
            </li>
            <li class="right">
              <ul>
                <li>3 - Gran Premio Michelin® de la República Argentina</li>
                <li>Termas de Río Hondo</li>
                <li>
                  <img src="assets/flag/argentina.svg">
                  <span>ARGENTINA</span>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="carousel-item">
        <div class="schedule">
          <ul>
            <li class="left">
              <ul>
                <li>02</li>
                <li>APR</li>
              </ul>
            </li>
            <li class="right">
              <ul>
                <li>3 - Gran Premio Michelin® de la República Argentina</li>
                <li>Termas de Río Hondo</li>
                <li>
                  <img src="assets/flag/argentina.svg">
                  <span>ARGENTINA</span>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="carousel-item">
        <div class="schedule">
          <ul>
            <li class="left">
              <ul>
                <li>03</li>
                <li>APR</li>
              </ul>
            </li>
            <li class="right">
              <ul>
                <li>3 - Gran Premio Michelin® de la República Argentina</li>
                <li>Termas de Río Hondo</li>
                <li>
                  <img src="assets/flag/argentina.svg">
                  <span>ARGENTINA</span>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <img src="assets/img/landingpage/prizes.png" alt="" class="prize">


  <div class="pemenang">
    <div>1. SUTAPAYASA</div>
    <div>2. KAMINI CANDRA</div>
    <div>3. LEONARDO FAJAR</div>
  </div>

</div>