<div class="container mekanisme">
  <h1>MEKANISME</h1>
  <p>Berikan tebakanmu di seluruh race untuk mendapatkan peluang memenangkan hadiah utama setelah mengumpulkan poin
    tertinggi.</p>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="head1">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1"
          aria-expanded="true" aria-controls="collapse1">
          KRITERIA PESERTA
        </button>
      </h2>
      <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="head1"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <ol type="1">
            <li>Wanita dan pria berusia minimal 17 tahun pada saat kompetisi berlangsung.</li>
            <li>Warga negara Indonesia dan berdomisili di Indonesia.</li>
            <!-- <li>Memiliki DetikID, apabila belum silahkan membuat terlebih dahulu di <a href="https://connect.detik.com/"
                target="_blank">https://connect.detik.com/</a></li> -->
            <li>Login menggunakan <a href="https://connect.detik.com/"
              target="_blank">akun MPC</a> dan isi profile dengan data lengkap. Untuk kamu yang memiliki akun detikID, segera migrasi ke <a href="https://connect.detik.com/"
              target="_blank">akun MPC</a> sehingga poin bisa diakumulasikan.</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="head2">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2"
          aria-expanded="false" aria-controls="collapse2">
          PERIODE KOMPETISI
        </button>
      </h2>
      <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="head2"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">

            <li>
              d’Challenge Tebak Podium dilaksanakan pada bulan Maret – November 2022
            </li>

          
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="head3">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3"
          aria-expanded="false" aria-controls="collapse3">
          MEKANISME KOMPETISI
        </button>
      </h2>
      <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="head3"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <li>Ikuti langkah-langkah berikut untuk berpartisipasi dalam d&rsquo;Challenge Tebak Podium:</li>
          <br>
          <ol>
            <li>Memiliki <a href="https://connect.detik.com/"
              target="_blank">akun MPC</a>, bagi yang sudah memiliki detikID segera migrasi ke <a href="https://connect.detik.com/"
              target="_blank">akun MPC</a> untuk akumulasikan poin yang sudah ada.</li>
            <!-- <li>Login menggunakan akun detik ID dan isi profile dengan data lengkap yang sebenarnya di
              <a href="https://dtk.id/dchallengetebakpodium" target="_blank">dtk.id/dchallengetebakpodium</a></li> -->
            <li>Tebak Podium akan diadakan setiap seri sampai dengan musim MotoGP 2022 berakhir</li>
            <li>Memilih rider untuk podium 1, 2 dan 3 sebelum race dimulai setiap seri Moto GP 2022 untuk mendapatkan
              poin bila tebakannya benar.</li>
            <li>Kumpulkan poin dari setiap seri untuk mendapatkan kesempatan memenangkan hadiah utama.</li>
            <li>Pihak penyelenggara akan mengumumkan pemenang setiap akhir seri race kompetisi melalui
              <a href="https://dtk.id/dchallengetebakpodium" target="_blank">dtk.id/dchallengetebakpodium</a></li>
          </ol>

        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="head4">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4"
          aria-expanded="false" aria-controls="collapse4">
          KETENTUAN KOMPETISI
        </button>
      </h2>
      <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="head4"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <ol>
            <li>Setiap seri memiliki poin partisipasi tertentu dan poin pemenang d&rsquo;Challenge Tebak Podium yang
              dapat dikumpulkan.</li>
            <li>Pada setiap seri memiliki proporsi poin partisipasi yang berbeda, sedangkan untuk yang benar menebak
              podium ridernya akan mendapatkan poin yang nilainya sama setiap seri berlangsungnya MotoGP 2022.</li>
            <li>Apabila rider yang dipilih tidak sesuai podium 1,2 dan 3 maka peserta tidak mendapatkan poin.</li>
            <li>Bila peserta tidak memilih rider untuk d&rsquo;Challenge Tebak Podium pada setiap seri maka peserta
              tidak mendapatkan poin partisipasi.</li>
            <li>d&rsquo;Challenge Tebak Podium dapat dilakukan mulai 4 hari dan ditutup 1 jam sebelum race, semakin 
              jauh hari peserta memilih rider untuk tebak podium maka semakin besar kesempatan memenangkan hadiah 
              untuk seri tersebut.</li>
            <li>Apabila terjadi penundaan race yang berpindah hari dan peserta sudah memilih riders maka pilihan
              tersebut sudah disimpan otomatis menjadi pilihannya ketika seri yang tertunda tersebut dilaksanakan
              kemudian hari.</li>
            <li>Apabila di tengah musim pihak penyelenggara MotoGP 2022 menghentikan kelanjutan musim dengan alasan
              pandemi atau lainnya, maka tidak akan dipilih pemenang utama</li>
            <li>Pihak penyelenggara berhak mendiskualifikasi peserta yang melanggar syarat dan ketentuan lainnya.</li>
          </ol>

        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="head5">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5"
          aria-expanded="false" aria-controls="collapse5">
          SISTEM POIN
        </button>
      </h2>
      <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="head5"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <ol>
            <li>Setiap peserta yang berhasil menebak benar podium setiap rider usai berakhirnya race/seri, akan
              mendapatkan 50 poin.</li>
            <li>Bila posisi rider yang dipilih tidak sesuai dengan podium usai berakhirnya race/seri, akan mendapatkan 0
              poin.</li>
            <li>Tidak memilih rider untuk mengikuti d&rsquo;Challenge Tebak Podium pada tiap seri akan mendapatkan 0
              poin.</li>
            <li>Poin partisipasi diberikan setiap mengikuti seri MotoGP 2022:</li>
          </ol>

          <ul>
            <li>Mandalika, Indonesia = +50 poin</li>
            <li>Rio Hondo, Argentina = +10 poin</li>
            <li>Circuit of the Americas, Amerika = +10 poin</li>
            <li>Algarve, Portugal = +10 poin</li>
            <li>Jerez, Spanyol = +10 poin</li>
            <li>Le Mans, Prancis = +20 poin</li>
            <li>Mugello, Italy = +20 poin</li>
            <li>Catalunya, Barcelona-Catalunya = +20 poin</li>
            <li>Sachsenring, Jerman = +20 poin</li>
            <li>Assen, Belanda = +20 poin</li>
            <li>KymiRIng, Finlandia = +30 poin</li>
            <li>Silverstone, Inggris = +30 poin</li>
            <li>Red Bull Ring, Austria = +30 poin</li>
            <li>Misano, San Marino = +30 poin</li>
            <li>MotorLand Aragon, Aragon = +30 poin</li>
            <li>Motegi, Jepang = +40 poin</li>
            <li>Chang, Thailand = +40 poin</li>
            <li>Phillip Island, Australia = +40 poin</li>
            <li>Sepang, Malaysia = +50 poin</li>
            <li>Ricardo Tormo, Valencia = +50 poin</li>
          </ul>

        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="head6">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6"
          aria-expanded="false" aria-controls="collapse6">
          KETENTUAN PEMENANG TEBAK PODIUM
        </button>
      </h2>
      <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="head6"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <li>Akan ada dua periode pemilihan pemenang, pemenang seri dan pemenang utama.</li><br />
          <p><strong>Ketentuan untuk pemenang di semua periode:</strong></p>
            
            <ol>
              <li>Pengumuman pemenang akan dilakukan melalui <a href="https://dtk.id/dchallengetebakpodium" target="_blank">dtk.id/dchallengetebakpodium</a>.</li>
              <li>Pihak Penyelenggara berhak untuk mendiskualifikasi peserta dan pemenang yang tidak memenuhi ketentuan yang telah ditentukan dalam ketentuan dan persyaratan kegiatan serta membatalkan atau mengambil/menarik kembali hadiah yang telah diterima oleh pemenang.</li>
              <li>Pemenang akan diverifikasi lewat email, apabila pemenang tidak dapat dihubungi dalam 3x24 jam maka dianggap gugur.</li>
              <li>Penentuan pemenang bersifat mutlak dan tidak dapat diganggu gugat. Kompetisi ini tidak dipungut biaya, hati-hati penipuan yang mengatasnamakan Pihak Penyelenggara dan/atau PT. Yamaha Indonesia Motor Manufacturing.</li>
            </ol>
            
            <p><strong>Ketentuan untuk pemenang seri:</strong></p>
            
            <ol>
              <li>Dipilih 3 pemenang setiap seri</li>
              <li>Satu Pemenang Pertama mendapatkan Huawei Matepad T10</li>
              <li>Satu Pemenang Kedua mendapatkan Amazfit Smartwatch</li>
              <li>Satu Pemenang Ketiga mendapatkan Saldo e-Wallet senilai 1 Juta Rupiah</li>
              <li>Pemenang dipilih berdasarkan poin tertinggi dan waktu tercepat pemilihan rider Tebak Podium MotoGP 2022.</li>
            </ol>
            
            <p><strong>Ketentuan untuk pemenang utama:</strong></p>
            
            <ol>
              <li>Dipilih 1 pemenang hadiah utama mendapatkan Motor Yamaha R15.</li>
              <li>Pemenang dipilih berdasarkan poin tertinggi pada berakhirnya musim MotoGP 2022.</li>
              <li>Bila ada peserta dengan jumlah poin yang sama, pemenang akan ditentukan dengan kemenangan poin tiap seri (head-to-head) serta kecepatan waktu pemilihan rider di tiap seri.</li>
              <li>Apabila di tengah musim pihak penyelenggara MotoGP 2022 menghentikan kelanjutan musim dengan alasan apapun, maka tidak akan dipilih pemenang utama.<br />
              &nbsp;</li>
            </ol>
            
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="head7">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7"
          aria-expanded="false" aria-controls="collapse7">
          KETENTUAN HADIAH
        </button>
      </h2>
      <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="head7"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <ol>
            <li>Peserta tidak diperbolehkan untuk melakukan pemilihan hadiah dari segi bentuk, tipe, atau warna apapun.</li>
            <li>Hadiah tidak dapat diuangkan atau dipindahtangankan.</li>
            <li>Pajak hadiah ditanggung pemenang.</li>
            <li>Konfirmasi alamat lengkap akan dilakukan lewat email untuk keperluan pengiriman hadiah.</li>
            <li>Hadiah akan dikirimkan ke alamat bersangkutan sesuai dengan alamat yang telah diberikan saat konfirmasi pemenang oleh panitia penyelenggara</li>
            <li>Penyelenggara tidak bertanggung jawab apabila hadiah yang telah berhasil dikirimkan tidak berhasil mencapai alamat peserta. Dalam hal ini, Pihak Penyelenggara atau PT. Yamaha Indonesia Motor Manufacturing akan dibebaskan dari tuntutan apapun sehubungan dengan hal hal di atas.</li>
          </ol>
          
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="head8">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8"
          aria-expanded="false" aria-controls="collapse8">
          SYARAT &amp KETENTUAN UMUM
        </button>
      </h2>
      <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="head8"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <ol>
            <li>Pihak Penyelenggara berhak mendiskualifikasi peserta yang melanggar syarat dan ketentuan dalam kompetisi d&rsquo;Challenge Tebak Podium.</li>
            <li>Pihak Penyelenggara berhak untuk memperbaharui hadiah dari kompetisi ini sewaktu-waktu.</li>
            <li>Pihak Penyelenggara berhak untuk melakukan penambahan atau pengurangan syarat dan ketentuan yang berlaku tanpa melakukan pemberitahuan terlebih dahulu.</li>
            <li>Keikutsertaan dalam program promosi ini tidak dipungut biaya. Hati-hati penipuan yang mengatasnamakan Pihak Penyelenggara atau PT Yamaha Indonesia Motor Manufacturing.</li>
            <li>Informasi atau pertanyaan lebih lanjut mengenai syarat dan ketentuan ini dapat diajukan melalui email ke info@detik.com</li>
          </ol>
          
        </div>
      </div>
    </div>
  </div>



</div>