#news {
    padding-top: 180px;
    padding-bottom: 120px;
}

.box-news-areegator {
    color: #1E1E1E;
}

#news .card {
    border: none;
}

#news h2 {
    font-weight: 900;
    font-size: 30px;
}

#news p {
    font-size: 16px !important;
}

#news .card-body {
    background: #f2f7fd;
}

#news .card-body a {
    color: #212529;
    text-decoration: none;
    font-weight: 700;
}

#news a:hover {
    color: #498dd1;
    text-decoration: none;
}

#news .btn-berita-lainnya {
    color: #ffffff;
    width: 200px;
    background: #162dbe;
    border: none;
}

#news .btn-berita-lainnya:hover {
    color: #ffffff;
}

.box-thumb {
    height: 132px;
    border-radius: 10px;
}

.box-thumb img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 130px !important;
    border-radius: 10px;
}

.btn-berita-lainnya {
    font-size:14px ;
}