<div class="container intro" id="news">
    <div class="box-news-areegator">
        <h2 class="text-center mt-0 mb-5 text-black bold">YAMAHA GP NEWS</h2>

        <div class="row d-flex">


            <div class="col-md-3">
                <div class="card mb-4 box-shadow">
                    <div class="box-thumb">
                        <img class="card-img-top" style="width: 100%; display: block;"
                            src="assets/img/thumbnail/thumbnail-2.png">
                    </div>
                    <div class="card-body">
                        <a href="{clickurl}">
                            <p class="card-text">Pilih Rider yang Akan Berada di Podium 1,2,3 sebelum Race
                                Berlangsung</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 box-shadow">
                    <div class="box-thumb">
                        <img class="card-img-top" style="width: 100%; display: block;"
                            src="assets/img/thumbnail/thumbnail-3.png">
                    </div>
                    <div class="card-body">
                        <a href="{clickurl}">
                            <p class="card-text">Pilih Rider yang Akan Berada di Podium 1,2,3 sebelum Race
                                Berlangsung</p>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card mb-4 box-shadow">
                    <div class="box-thumb">
                        <img class="card-img-top" style="width: 100%; display: block;"
                            src="assets/img/thumbnail/thumbnail-4.png">
                    </div>
                    <div class="card-body">
                        <a href="{clickurl}">
                            <p class="card-text">Pilih Rider yang Akan Berada di Podium 1,2,3 sebelum Race
                                Berlangsung</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 box-shadow">
                    <div class="box-thumb">
                        <img class="card-img-top" style="width: 100%; display: block;"
                            src="assets/img/thumbnail/thumbnail-1.png">
                    </div>
                    <div class="card-body">
                        <a href="{clickurl}">
                            <p class="card-text">Pilih Rider yang Akan Berada di Podium 1,2,3 sebelum Race
                                Berlangsung</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 box-shadow">
                    <div class="box-thumb">
                        <img class="card-img-top" style="width: 100%; display: block;"
                            src="assets/img/thumbnail/thumbnail-2.png">
                    </div>
                    <div class="card-body">
                        <a href="{clickurl}">
                            <p class="card-text">Pilih Rider yang Akan Berada di Podium 1,2,3 sebelum Race
                                Berlangsung</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 box-shadow">
                    <div class="box-thumb">
                        <img class="card-img-top" style="width: 100%; display: block;"
                            src="assets/img/thumbnail/thumbnail-3.png">
                    </div>
                    <div class="card-body">
                        <a href="{clickurl}">
                            <p class="card-text">Pilih Rider yang Akan Berada di Podium 1,2,3 sebelum Race
                                Berlangsung</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 box-shadow">
                    <div class="box-thumb">
                        <img class="card-img-top" style="width: 100%; display: block;"
                            src="assets/img/thumbnail/thumbnail-4.png">
                    </div>
                    <div class="card-body">
                        <a href="{clickurl}">
                            <p class="card-text">Pilih Rider yang Akan Berada di Podium 1,2,3 sebelum Race
                                Berlangsung</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 box-shadow">
                    <div class="box-thumb">
                        <img class="card-img-top" style="width: 100%; display: block;"
                            src="assets/img/thumbnail/thumbnail-1.png">
                    </div>
                    <div class="card-body">
                        <a href="{clickurl}">
                            <p class="card-text">Pilih Rider yang Akan Berada di Podium 1,2,3 sebelum Race
                                Berlangsung</p>
                        </a>
                    </div>
                </div>
            </div>


        </div>
        <div class="row d-flex justify-content-center">
            <a class="btn-berita-lainnya btn btn-primary js-scroll-trigger"
                href="https://www.detik.com/tag/yamaha-motogp" style="" target="_blank">LIHAT SEMUA <img
                    src="assets/img/landingpage/svg/right.svg"></a>
        </div>
    </div>
</div>
</div>