<div class="container akun_poin">
  <div class="detail">
    <div class="cangkang">
      <div class="foto" style="background-image: url(assets/profile/acha2.jpg);"></div>
      <!-- <img class="foto" src="assets/profile/acha.jpg"> -->
    </div>
    <h1>FERRY ALFANSO</h1>
    <div class="yourpoin">
      POIN SAYA
      <span>800 POIN</span>
    </div>
    <h2>RIWAYAT PEROLEHAN POIN</h2>
  </div>
  
  <div class="lokasi">
    <div class="lokasi-item">
      <div class="lokasi-nama">
        <img src="assets/flag/indonesia.svg">
        <span>Pertamina Mandalika Circuit</span>
      </div>
      <div class="lokasi-detil">
        <ul>
          <li>Poin Partisipasi <span>0</span></li>
          <li>Poin Podium 1 <span>0</span></li>
          <li>Poin Podium 2 <span>0</span></li>
          <li>Poin Podium 3 <span>0</span></li>
        </ul>
      </div>
    </div>
    <div class="lokasi-item">
      <div class="lokasi-nama">
        <img src="assets/flag/argentina.svg">
        <span>Termas de Río Hondo</span>
      </div>
      <div class="lokasi-detil">
        <ul>
          <li>Poin Partisipasi <span>0</span></li>
          <li>Poin Podium 1 <span>0</span></li>
          <li>Poin Podium 2 <span>0</span></li>
          <li>Poin Podium 3 <span>0</span></li>
        </ul>
      </div>
    </div>
    <div class="lokasi-item">
      <div class="lokasi-nama">
        <img src="assets/flag/usa.svg">
        <span>Circuit Of The Americas</span>
      </div>
      <div class="lokasi-detil">
        <ul>
          <li>Poin Partisipasi <span>0</span></li>
          <li>Poin Podium 1 <span>0</span></li>
          <li>Poin Podium 2 <span>0</span></li>
          <li>Poin Podium 3 <span>0</span></li>
        </ul>
      </div>
    </div>
    <div class="lokasi-item">
      <div class="lokasi-nama">
        <img src="assets/flag/portugal.svg">
        <span>Autódromo Internacional
          do Algarve</span>
      </div>
      <div class="lokasi-detil">
        <ul>
          <li>Poin Partisipasi <span>0</span></li>
          <li>Poin Podium 1 <span>0</span></li>
          <li>Poin Podium 2 <span>0</span></li>
          <li>Poin Podium 3 <span>0</span></li>
        </ul>
      </div>
    </div>
    <div class="lokasi-item">
      <div class="lokasi-nama">
        <img src="assets/flag/spain.svg">
        <span>Circuito de Jerez - Angel Nieto</span>
      </div>
      <div class="lokasi-detil">
        <ul>
          <li>Poin Partisipasi <span>0</span></li>
          <li>Poin Podium 1 <span>0</span></li>
          <li>Poin Podium 2 <span>0</span></li>
          <li>Poin Podium 3 <span>0</span></li>
        </ul>
      </div>
    </div>
    <div class="lokasi-item">
      <div class="lokasi-nama">
        <img src="assets/flag/france.svg">
        <span>Le Mans</span>
      </div>
      <div class="lokasi-detil">
        <ul>
          <li>Poin Partisipasi <span>0</span></li>
          <li>Poin Podium 1 <span>0</span></li>
          <li>Poin Podium 2 <span>0</span></li>
          <li>Poin Podium 3 <span>0</span></li>
        </ul>
      </div>
    </div>
    <div class="lokasi-item">
      <div class="lokasi-nama">
        <img src="assets/flag/italy.svg">
        <span>Autodromo Internazionale
          del Mugello</span>
      </div>
      <div class="lokasi-detil">
        <ul>
          <li>Poin Partisipasi <span>0</span></li>
          <li>Poin Podium 1 <span>0</span></li>
          <li>Poin Podium 2 <span>0</span></li>
          <li>Poin Podium 3 <span>0</span></li>
        </ul>
      </div>
    </div>
    <div class="lokasi-item">
      <div class="lokasi-nama">
        <img src="assets/flag/catalunya.svg">
        <span>Circuit de Barcelona-
          Catalunya</span>
      </div>
      <div class="lokasi-detil">
        <ul>
          <li>Poin Partisipasi <span>0</span></li>
          <li>Poin Podium 1 <span>0</span></li>
          <li>Poin Podium 2 <span>0</span></li>
          <li>Poin Podium 3 <span>0</span></li>
        </ul>
      </div>
    </div>
    <div class="lokasi-item">
      <div class="lokasi-nama">
        <img src="assets/flag/germany.svg">
        <span>Sachsenring</span>
      </div>
      <div class="lokasi-detil">
        <ul>
          <li>Poin Partisipasi <span>0</span></li>
          <li>Poin Podium 1 <span>0</span></li>
          <li>Poin Podium 2 <span>0</span></li>
          <li>Poin Podium 3 <span>0</span></li>
        </ul>
      </div>
    </div>
    <div class="lokasi-item">
      <div class="lokasi-nama">
        <img src="assets/flag/netherlands.svg">
        <span>TT Circuit Assen</span>
      </div>
      <div class="lokasi-detil">
        <ul>
          <li>Poin Partisipasi <span>0</span></li>
          <li>Poin Podium 1 <span>0</span></li>
          <li>Poin Podium 2 <span>0</span></li>
          <li>Poin Podium 3 <span>0</span></li>
        </ul>
      </div>
    </div>
    <div class="lokasi-item">
      <div class="lokasi-nama">
        <img src="assets/flag/finland.svg">
        <span>KymiRing</span>
      </div>
      <div class="lokasi-detil">
        <ul>
          <li>Poin Partisipasi <span>0</span></li>
          <li>Poin Podium 1 <span>0</span></li>
          <li>Poin Podium 2 <span>0</span></li>
          <li>Poin Podium 3 <span>0</span></li>
        </ul>
      </div>
    </div>
    <div class="lokasi-item">
      <div class="lokasi-nama">
        <img src="assets/flag/britain.svg">
        <span>Silverstone Circuit</span>
      </div>
      <div class="lokasi-detil">
        <ul>
          <li>Poin Partisipasi <span>0</span></li>
          <li>Poin Podium 1 <span>0</span></li>
          <li>Poin Podium 2 <span>0</span></li>
          <li>Poin Podium 3 <span>0</span></li>
        </ul>
      </div>
    </div>
    <div class="lokasi-item">
      <div class="lokasi-nama">
        <img src="assets/flag/austria.svg">
        <span>Red Bull Ring - Spielberg</span>
      </div>
      <div class="lokasi-detil">
        <ul>
          <li>Poin Partisipasi <span>0</span></li>
          <li>Poin Podium 1 <span>0</span></li>
          <li>Poin Podium 2 <span>0</span></li>
          <li>Poin Podium 3 <span>0</span></li>
        </ul>
      </div>
    </div>
    <div class="lokasi-item">
      <div class="lokasi-nama">
        <img src="assets/flag/sanmarino.svg">
        <span>Misano World Circuit
          Marco Simoncelli</span>
      </div>
      <div class="lokasi-detil">
        <ul>
          <li>Poin Partisipasi <span>0</span></li>
          <li>Poin Podium 1 <span>0</span></li>
          <li>Poin Podium 2 <span>0</span></li>
          <li>Poin Podium 3 <span>0</span></li>
        </ul>
      </div>
    </div>
    <div class="lokasi-item">
      <div class="lokasi-nama">
        <img src="assets/flag/aragon.png">
        <span>MotorLand Aragón</span>
      </div>
      <div class="lokasi-detil">
        <ul>
          <li>Poin Partisipasi <span>0</span></li>
          <li>Poin Podium 1 <span>0</span></li>
          <li>Poin Podium 2 <span>0</span></li>
          <li>Poin Podium 3 <span>0</span></li>
        </ul>
      </div>
    </div>
    <div class="lokasi-item">
      <div class="lokasi-nama">
        <img src="assets/flag/japan.svg">
        <span>Twin Ring Motegi</span>
      </div>
      <div class="lokasi-detil">
        <ul>
          <li>Poin Partisipasi <span>0</span></li>
          <li>Poin Podium 1 <span>0</span></li>
          <li>Poin Podium 2 <span>0</span></li>
          <li>Poin Podium 3 <span>0</span></li>
        </ul>
      </div>
    </div>
    <div class="lokasi-item">
      <div class="lokasi-nama">
        <img src="assets/flag/thailand.svg">
        <span>Chang International Circuit</span>
      </div>
      <div class="lokasi-detil">
        <ul>
          <li>Poin Partisipasi <span>0</span></li>
          <li>Poin Podium 1 <span>0</span></li>
          <li>Poin Podium 2 <span>0</span></li>
          <li>Poin Podium 3 <span>0</span></li>
        </ul>
      </div>
    </div>
    <div class="lokasi-item">
      <div class="lokasi-nama">
        <img src="assets/flag/australia.svg">
        <span>Phillip Island</span>
      </div>
      <div class="lokasi-detil">
        <ul>
          <li>Poin Partisipasi <span>0</span></li>
          <li>Poin Podium 1 <span>0</span></li>
          <li>Poin Podium 2 <span>0</span></li>
          <li>Poin Podium 3 <span>0</span></li>
        </ul>
      </div>
    </div>
    <div class="lokasi-item">
      <div class="lokasi-nama">
        <img src="assets/flag/malaysia.svg">
        <span>Sepang International Circuit</span>
      </div>
      <div class="lokasi-detil">
        <ul>
          <li>Poin Partisipasi <span>0</span></li>
          <li>Poin Podium 1 <span>0</span></li>
          <li>Poin Podium 2 <span>0</span></li>
          <li>Poin Podium 3 <span>0</span></li>
        </ul>
      </div>
    </div>
    <div class="lokasi-item">
      <div class="lokasi-nama">
        <img src="assets/flag/valencia.svg">
        <span>Circuit Ricardo Tormo</span>
      </div>
      <div class="lokasi-detil">
        <ul>
          <li>Poin Partisipasi <span>0</span></li>
          <li>Poin Podium 1 <span>0</span></li>
          <li>Poin Podium 2 <span>0</span></li>
          <li>Poin Podium 3 <span>0</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>