<div class="container schedule">
  <h1>SCHEDULE &amp RESULT</h1>
  <p>Berikut jadwal lengkap kalender MotoGP 2022. Tebak Podium dibuka melalui seri GP Indonesia dan berakhir di GP Valencia. Kumpulkan poin sebanyak-banyaknya dengan ikutan Tebak Podium di setiap seri</p>
  <a href="index-new.php?page=profile" class="mekanisme">
    LIHAT POIN SAYA
    <i class="fas fa-long-arrow-right"></i>
  </a>
  <div class="lokasi">
    <div class="lokasi-item focus">
      <ul>
        <li class="left">
          <ul>
            <li>20</li>
            <li>MAR</li>
          </ul>
        </li>
        <li class="right">
          <ul>
            <li>2 - Grand Prix of Indonesia</li>
            <li>Pertamina Mandalika Circuit</li>
            <li>
              <img src="assets/flag/indonesia.svg">
              <span>INDONESIA</span>
            </li>
          </ul>
        </li>
      </ul>
      <div class="bottom">
        <img src="assets/circuit/indonesia.png">
        <a href="#">
          LIHAT PEMENANG
        </a>
      </div>
    </div>
    <div class="lokasi-item">
      <ul>
        <li class="left">
          <ul>
            <li>03</li>
            <li>APR</li>
          </ul>
        </li>
        <li class="right">
          <ul>
            <li>3 - Gran Premio Michelin® de la República Argentina</li>
            <li>Termas de Río Hondo</li>
            <li>
              <img src="assets/flag/argentina.svg">
              <span>ARGENTINA</span>
            </li>
          </ul>
        </li>
      </ul>
      <div class="bottom">
        <img src="assets/circuit/argentina.png">
        <a href="#">
          IKUTI QUIZ
        </a>
      </div>
    </div>
    <div class="lokasi-item disable">
      <ul>
        <li class="left">
          <ul>
            <li>10</li>
            <li>APR</li>
          </ul>
        </li>
        <li class="right">
          <ul>
            <li>4 - Red Bull Grand Prix of the Americas</li>
            <li>Circuit Of The Americas</li>
            <li>
              <img src="assets/flag/usa.png">
              <span>UNITED STATES</span>
            </li>
          </ul>
        </li>
      </ul>
      <div class="bottom">
        <img src="assets/circuit/usa.png">
        <a href="#">
          IKUTI QUIZ
        </a>
      </div>
    </div>
    <div class="lokasi-item disable">
      <ul>
        <li class="left">
          <ul>
            <li>24</li>
            <li>APR</li>
          </ul>
        </li>
        <li class="right">
          <ul>
            <li>5 -  Grande Prémio de Portugal</li>
            <li>Autódromo Internacional do...</li>
            <li>
              <img src="assets/flag/portugal.svg">
              <span>PORTUGAL</span>
            </li>
          </ul>
        </li>
      </ul>
      <div class="bottom">
        <img src="assets/circuit/portugal.png">
        <a href="#">
          IKUTI QUIZ
        </a>
      </div>
    </div>
    <div class="lokasi-item disable">
      <ul>
        <li class="left">
          <ul>
            <li>01</li>
            <li>MAY</li>
          </ul>
        </li>
        <li class="right">
          <ul>
            <li>6 -  Gran Premio Red Bullde España</li>
            <li>Circuito de Jerez - Angel Nieto</li>
            <li>
              <img src="assets/flag/spain.svg">
              <span>SPAIN</span>
            </li>
          </ul>
        </li>
      </ul>
      <div class="bottom">
        <img src="assets/circuit/spain.png">
        <a href="#">
          IKUTI QUIZ
        </a>
      </div>
    </div>
    <div class="lokasi-item disable">
      <ul>
        <li class="left">
          <ul>
            <li>15</li>
            <li>MAY</li>
          </ul>
        </li>
        <li class="right">
          <ul>
            <li>7 -  SHARK HELMETS Grand Prix de France</li>
            <li>Le Mans</li>
            <li>
              <img src="assets/flag/france.svg">
              <span>FRANCE</span>
            </li>
          </ul>
        </li>
      </ul>
      <div class="bottom">
        <img src="assets/circuit/france.png">
        <a href="#">
          IKUTI QUIZ
        </a>
      </div>
    </div>
    <div class="lokasi-item disable">
      <ul>
        <li class="left">
          <ul>
            <li>29</li>
            <li>MAY</li>
          </ul>
        </li>
        <li class="right">
          <ul>
            <li>8 -  Gran Premio d’Italia Oakley</li>
            <li>Autodromo Internazionale del ...</li>
            <li>
              <img src="assets/flag/italy.svg">
              <span>ITALY</span>
            </li>
          </ul>
        </li>
      </ul>
      <div class="bottom">
        <img src="assets/circuit/italy.png">
        <a href="#">
          IKUTI QUIZ
        </a>
      </div>
    </div>
    <div class="lokasi-item disable">
      <ul>
        <li class="left">
          <ul>
            <li>05</li>
            <li>JUN</li>
          </ul>
        </li>
        <li class="right">
          <ul>
            <li>9 -  Gran Premi Monster Energy de Catalunya</li>
            <li>Circuit de Barcelona-Catalunya</li>
            <li>
              <img src="assets/flag/spain.svg">
              <span>SPAIN</span>
            </li>
          </ul>
        </li>
      </ul>
      <div class="bottom">
        <img src="assets/circuit/spain.png">
        <a href="#">
          IKUTI QUIZ
        </a>
      </div>
    </div>
    <div class="lokasi-item disable">
      <ul>
        <li class="left">
          <ul>
            <li>19</li>
            <li>JUN</li>
          </ul>
        </li>
        <li class="right">
          <ul>
            <li>10 - Liqui Moly Motorrad Grand Prix Deutschland</li>
            <li>Sachsenring</li>
            <li>
              <img src="assets/flag/germany.svg">
              <span>GERMANY</span>
            </li>
          </ul>
        </li>
      </ul>
      <div class="bottom">
        <img src="assets/circuit/germany.png">
        <a href="#">
          IKUTI QUIZ
        </a>
      </div>
    </div>
    <div class="lokasi-item disable">
      <ul>
        <li class="left">
          <ul>
            <li>26</li>
            <li>JUN</li>
          </ul>
        </li>
        <li class="right">
          <ul>
            <li>11 - Motul TT Assen</li>
            <li>TT Circuit Assen</li>
            <li>
              <img src="assets/flag/netherlands.svg">
              <span>NETHERLANDS</span>
            </li>
          </ul>
        </li>
      </ul>
      <div class="bottom">
        <img src="assets/circuit/netherlands.png">
        <a href="#">
          IKUTI QUIZ
        </a>
      </div>
    </div>
    <div class="lokasi-item disable">
      <ul>
        <li class="left">
          <ul>
            <li>10</li>
            <li>JUL</li>
          </ul>
        </li>
        <li class="right">
          <ul>
            <li>12 - Grand Prix of Finland</li>
            <li>KymiRing</li>
            <li>
              <img src="assets/flag/finland.svg">
              <span>FINLAND</span>
            </li>
          </ul>
        </li>
      </ul>
      <div class="bottom">
        <img src="assets/circuit/finland.png">
        <a href="#">
          IKUTI QUIZ
        </a>
      </div>
    </div>
    <div class="lokasi-item disable">
      <ul>
        <li class="left">
          <ul>
            <li>07</li>
            <li>AGU</li>
          </ul>
        </li>
        <li class="right">
          <ul>
            <li>13 - Monster Energy British Grand Prix</li>
            <li>Silverstone Circuit</li>
            <li>
              <img src="assets/flag/britain.svg">
              <span>GREAT BRITAIN</span>
            </li>
          </ul>
        </li>
      </ul>
      <div class="bottom">
        <img src="assets/circuit/britain.png">
        <a href="#">
          IKUTI QUIZ
        </a>
      </div>
    </div>
    <div class="lokasi-item disable">
      <ul>
        <li class="left">
          <ul>
            <li>21</li>
            <li>AGU</li>
          </ul>
        </li>
        <li class="right">
          <ul>
            <li>14 - Motorrad Grand Prix von Österreich</li>
            <li>Red Bull Ring - Spielberg</li>
            <li>
              <img src="assets/flag/austria.svg">
              <span>AUSTRIA</span>
            </li>
          </ul>
        </li>
      </ul>
      <div class="bottom">
        <img src="assets/circuit/austria.png">
        <a href="#">
          IKUTI QUIZ
        </a>
      </div>
    </div>
    <div class="lokasi-item disable">
      <ul>
        <li class="left">
          <ul>
            <li>04</li>
            <li>SEP</li>
          </ul>
        </li>
        <li class="right">
          <ul>
            <li>15 - Gran Premio di San Marino e della Riviera di ...</li>
            <li>Misano World Circuit Marco S...</li>
            <li>
              <img src="assets/flag/italy.svg">
              <span>ITALY</span>
            </li>
          </ul>
        </li>
      </ul>
      <div class="bottom">
        <img src="assets/circuit/italy.png">
        <a href="#">
          IKUTI QUIZ
        </a>
      </div>
    </div>
    <div class="lokasi-item disable">
      <ul>
        <li class="left">
          <ul>
            <li>18</li>
            <li>SEP</li>
          </ul>
        </li>
        <li class="right">
          <ul>
            <li>16 - Gran Premio de Aragón</li>
            <li>MotorLand Aragón</li>
            <li>
              <img src="assets/flag/spain.svg">
              <span>SPAIN</span>
            </li>
          </ul>
        </li>
      </ul>
      <div class="bottom">
        <img src="assets/circuit/aragon.png">
        <a href="#">
          IKUTI QUIZ
        </a>
      </div>
    </div>
    <div class="lokasi-item disable">
      <ul>
        <li class="left">
          <ul>
            <li>25</li>
            <li>SEP</li>
          </ul>
        </li>
        <li class="right">
          <ul>
            <li>17 - Motul Grand Prix of Japan</li>
            <li>Twin Ring Motegi</li>
            <li>
              <img src="assets/flag/japan.svg">
              <span>JAPAN</span>
            </li>
          </ul>
        </li>
      </ul>
      <div class="bottom">
        <img src="assets/circuit/japan.png">
        <a href="#">
          IKUTI QUIZ
        </a>
      </div>
    </div>
    <div class="lokasi-item disable">
      <ul>
        <li class="left">
          <ul>
            <li>02</li>
            <li>OCT</li>
          </ul>
        </li>
        <li class="right">
          <ul>
            <li>18 - Thailand Grand Prix</li>
            <li>Chang International Circuit</li>
            <li>
              <img src="assets/flag/thai.png">
              <span>THAILAND</span>
            </li>
          </ul>
        </li>
      </ul>
      <div class="bottom">
        <img src="assets/circuit/thailand.png">
        <a href="#">
          IKUTI QUIZ
        </a>
      </div>
    </div>
    <div class="lokasi-item disable">
      <ul>
        <li class="left">
          <ul>
            <li>16</li>
            <li>OCT</li>
          </ul>
        </li>
        <li class="right">
          <ul>
            <li>19 - Australian Motorcycle Grand Prix</li>
            <li>Phillip Island</li>
            <li>
              <img src="assets/flag/australia.svg">
              <span>AUSTRALIA</span>
            </li>
          </ul>
        </li>
      </ul>
      <div class="bottom">
        <img src="assets/circuit/australia.png">
        <a href="#">
          IKUTI QUIZ
        </a>
      </div>
    </div>
    <div class="lokasi-item disable">
      <ul>
        <li class="left">
          <ul>
            <li>23</li>
            <li>OCT</li>
          </ul>
        </li>
        <li class="right">
          <ul>
            <li>20 - Malaysia Motorcycle Grand Prix</li>
            <li>Sepang International Circuit</li>
            <li>
              <img src="assets/flag/mal.png">
              <span>MALAYSIA</span>
            </li>
          </ul>
        </li>
      </ul>
      <div class="bottom">
        <img src="assets/circuit/malaysia.png">
        <a href="#">
          IKUTI QUIZ
        </a>
      </div>
    </div>
    <div class="lokasi-item disable">
      <ul>
        <li class="left">
          <ul>
            <li>06</li>
            <li>NOV</li>
          </ul>
        </li>
        <li class="right">
          <ul>
            <li>21 - Gran Premio Motul de la Comunitat Valenciana</li>
            <li>Circuit Ricardo Tormo</li>
            <li>
              <img src="assets/flag/spain.svg">
              <span>SPAIN</span>
            </li>
          </ul>
        </li>
      </ul>
      <div class="bottom">
        <img src="assets/circuit/spain-2.png">
        <a href="#">
          IKUTI QUIZ
        </a>
      </div>
    </div>
  </div>
</div>